body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#poll-container {
    margin-bottom: 20px;
}

#poll-form {
    margin-bottom: 10px;
}

#results-container {
    display: none;
}

#results {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}
